{
  "settings": {
    "clientId": "",
    "clientSecret": "",
    "tenantId": "",
    "apiAudience": "api://<client-id>",
    "graphUserScopes": [
      "Files.ReadWrite"
    ],
    "tokenCachePath": "",
    "ApiAudience": ""
  }
}

